<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta name="description" content="Sac de Travail - Antoine Nauleau">
    <meta name="keywords" content="sac, bags, briefcase, travail, metropolitain, antoine, nauleau">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Antoine Nauleau</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">

    <!-- Local stylesheet directory and files -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/css/all.css" type="text/css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155770679-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-155770679-1');
    </script>
</head>

<!-- main.handlebars -->
<body>
<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>-->

<!--<script rel="script" src="/js/posts.js"></script>-->

<nav class="navbar navbar-default navbar-styles">
    <div class="container">
        <a class="nav-btn logo" href="/"><img src="/assets/nauleau-logo.png"></a>
        <ul class="nav navbar-nav navbar-right">
            <a class="nav-btn logo" href="/"><img src="/assets/carraige-logo.png"></a>
        </ul>
    </div>
</nav>

<div class="container">
    {{{body}}}
</div>

<footer class="footer">
    <div class="border">

    </div>
    <div class="content">
        <div class="col-md-4">
            <h5 class="text-uppercase"> <p class="roboto">Made in Paris</p></h5>
            <p>Chaque sac est fait avec soin et attention dans tous les détails.</p>
        </div>
        <div class="col-md-2 footer-spacer">
            <h5 class="text-uppercase"><p class="roboto"><a href="mailto:antoine.nauleau@gmail.com">Contact</a></p></h5>
        </div>
    </div>
</footer>

<!-- Footer -->


</body>
</html>
