

/*Layout*/

body {
    color: #a83516;
    font-size: 12px;
}

.black {
    color: black;
}

.roboto {
    font-family: "Roboto Slab", serif;
}

/*Navbar*/

.navbar {
    width: 100%;
}

.navbar-styles {
    background-color: #f0f0f0;
    border: solid 1px lightgrey;
}

@media only screen and (max-width: 580px) {
    .navbar > .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

/*Footer*/

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding: 20px;
}

@media only screen and (max-width: 580px) {

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-spacer {
        margin-top: 20px;
    }
}

.border {
    margin-top: 60px;
    border-bottom: lightgrey solid 1px;
}

.footer {
    margin-bottom: 20px;
}
/*Home Page*/


.front-page {
    margin-top: 90px;
}

.main {
    display: flex;
}

@media only screen and (max-width: 580px) {

    .main {
        display: flex;
        flex-wrap: wrap;
    }

    .carousel-item img {
        width: 84%;
        height: auto;
    }

    .carousel {
        padding-left: 48px;
    }

}

@media only screen and (max-width: 980px) {

    .main {
        display: flex;
        flex-direction: column;
    }

}

.description {
    padding: 38px;
}

@media only screen and (max-width: 580px) {

    .description {
        width: 320px;
    }

}

.item-description {
    padding-top: 20px;
    padding-bottom: 8px;
}

.item-details {
    margin-top: 34px;
}

.item-details > .bottom-space {
    margin-bottom: 18px;
}


